VITE_UI_VERSION=v1.0.0

VITE_PRIVATE_API_URL=http://localhost:8000/api
VITE_PUBLIC_API_URL=http://localhost:8000/api

VITE_WEBSOCKET_PUBLIC_URL=ws://localhost:8000/api
VITE_WEBSOCKET_PRIVATE_URL=ws://localhost:8000/api

VITE_GENASSIST_CHAT_APIKEY=apikey_example

VITE_MULTI_TENANT_ENABLED=true

VITE_ONBOARDING_API_URL=http://localhost:8000/
VITE_ONBOARDING_CHAT_APIKEY=YOUR_ONBOARDING_WORKFLOW_APIKEY
VITE_ONBOARDING_USERNAME=username_example
VITE_ONBOARDING_PASSWORD=password_example