.env
.DS_Store
frontend/.claude/skills/ui-skills/SKILL.md

# Python
**/__pycache__/

# venv
genassist_env/

# cursor
.cursor/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock
*.g.dart
*.freezed.dart
*.mocks.dart
